body {
	background-image:linear-gradient(to bottom right,linen,#84CEEB);
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#text {
	border-radius: 25px;
	background: #84CEEB;
	padding: 20px;
	width: 400px;
	height: 300px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:40px;
	font-size:25px;
	font-family: "Times New Roman", Times, serif;
	box-shadow: 5px 5px #888888;
}
#answer {
	border-radius: 25px;
	background: #EFE2BA;
	padding: 20px;
	width: 400px;
	height: 300px;
	border: 2px solid lightblue;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:40px;
	font-size:25px;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 5px 5px #888888;
}
#Decks{
    list-style-type: none;
    padding:10px;
	background-color:lightyellow;
	width: 200px;
	margin-left:50px;
	border: 2px solid black;
	font-size:20px;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 5px 5px #888888;
}
#Decks2{
    list-style-type: none;
    padding:10px;
    background-color:lightsteelblue;
    width: 200px;
    margin-left:50px;
    border: 2px solid black;
    font-size:20px;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 5px 5px #888888
}
#Decks li.selected{
    background-color:yellow;
    border-style: outset;
}
#Decks li:hover{
    background-color:lightblue;
    border-style: outset;
}
#Decks2 li:hover{
    background-color:lightcoral;
    border-style: outset;
}
button{
	background-color:yellow;
	margin-left:50px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size:18px;
	min-width:100px;
	padding:10px;
	border-radius:10px;
	box-shadow: 5px 5px #888888;
}
h1{
	color:maroon;
	margin-left:40px;
	width:1000px;
	font-size:60px;
    text-shadow: 2px 2px 5px white;
}
h2{
    margin-left:50px;
    width:300px;
    font-size:30px;
    color:Rebeccapurple;
    text-shadow: 2px 2px 5px lemonchiffon;
}
.plum{
    background-color:#9FEDD7;
    border:2px solid grey;
    padding:10px;
    width:900px;
    margin-top:70px;
    margin-left:40px;
    font-size:18px;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 5px 5px #888888
}
input{
    font-size:16px;
    font-family: "Times New Roman", Times, serif;
}
#divhelp{
    background-color:lemonchiffon;
    border: 5px solid yellow;
    padding: 10px;
}

#divcard{
    background-color:lemonchiffon;
    border: 5px solid yellow;
    padding: 10px;
}

#view{
    background-color:lemonchiffon;
    padding: 20px;
    border: 5px solid yellow;
}
.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.tall{
    height:50px;
}
#right{
}
#left{
    margin-right:50px;
}
#container{
    display:flex;
}